body{
  background: #81bcd8;
}

.header {
  background: #fff;
  display: flex;
  padding: 60px 20px;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  
  &__nav{
    &__menu{
      display: flex;
      &__item{
        margin-left: 20px;
        a{
          color: #333;
          text-decoration: none;
        }
      }
    }
  }

}

.tabletennis {
  max-height: 500px;
    overflow: hidden;
}

.content{
  line-height: 1.6;
  margin: 0 auto;
  padding-top: 100px;
  width: 800px;
}

.footer{
  background: #333;
  padding: 80px 0;
}